.button {
    -fx-font-family: 'Courier New', monospace;
    -fx-background-color: transparent;
    -fx-border-color : #ffffff;
    -fx-border-radius : 5px;
}

.button:hover {
    -fx-font-weight: bold;
}

.title {
    -fx-font-family: 'Courier New', monospace;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}
.level {
    -fx-font-family: 'Courier New', monospace;
}

.name {
    -fx-font-family: 'Courier New', monospace;
}

.root {
    -fx-background-color: linear-gradient(#4566da,#7e91d4);
}